{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class ="banner">
        <div class="banner-text">
            <h1>TODO</h1>
          </div>
       </div>
      </div>
   </div>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row">
         <div class="col-md-6">
             <form method="POST" class="p-3 shadow">
            {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" name="task" placeholder="Task name">
  </div>
        <div class="form-group">
    <input type="text" class="form-control" name="priority" placeholder="priority">
            </div>
                 <div class="form-group">
    <input type="date" class="form-control" name="date" placeholder="enter date">
            </div>
    <input type="submit" class="btn btn-success">
            </form>

</div>
            <div class="col-md-6">
    <h4>Task to be completed</h4>
    {% for i in task1 %}
    <div class="shadow card">
        <div class="card-body">
            <h5 class="card-title">{{i.name}}<br></h5>
            <p><b>{{i.priority}}</b></p><br>
             <p><b>{{i.date}}</b></p>
            <a href="{% url 'todoapp:delete' i.id %}" class="btn btn-danger">Done</a>
               <a href="{% url 'todoapp:edit' i.id %}" class="btn btn-success">UPDATE</a>
        </div>
    </div>
                <br>
{% endfor %}
</div>

    </div>
</div>
</body>
</html>
{% endblock  %}